* {
  box-sizing: border-box;
}

body {
  background-color: #1f80f4;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

header {
  background-color: #59bec2;
  font-size: 30px;
  color: ivory;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.complete-btn,
.trash-btn {
  background-color: ivory;
  border: 0;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
}

.todo-button,
.filter-button {
  background-color: ivory;
  font-family: sans-serif;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 40px;
  padding: 10px;
  margin-left: 55px;
}

.filter-button {
  margin-left: 90px;
}

.todo-button:focus,
.filter-button:focus {
  outline: 0;
}

.todo-button:active,
.filter-button:active {
  transform: scale(0.95);
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 100%;
  width: 390px;
  max-height: 100%;
  height: auto;
  margin: 10px;
}

.todo-container {
  background-color: #c2d0d9;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  padding: 10px;
  max-width: 100%;
  width: 390px;
  max-height: 100%;
  height: auto;
  margin: 20px;
}

.todo-input,
.filter-types {
  background-color: ivory;
  font-family: sans-serif;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  cursor: text;
  height: 40px;
  margin-right: 15px;
  padding: 10px;
}

.todo-list {
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.todo li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  transition: all 1s ease;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
